body {
    background-color: #7FB77E;
}

.card {
    margin: 20px 0px;
    border-radius: 30px;
    background-color: #F7F6DC;
    /* background-color: #B1D7B4; */
    /* background-color: #FFC090; */
}

.card-header {
    background-color: #B1D7B4;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-header,
img,
p {
    align-self: center;
    font-weight: bold;
}

h6 {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.btn {
    border-radius: 20px;
    /* background-color: #89CFFD; */
}